:root {
    --green: #00FF00;
    --misty: #5c6164;
}

#tabs {
    overflow: hidden;
    border: 3px solid;
}

button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid;
    border-top: none;
}

button:hover {
    background-color: var(--green);
}

button:active {
    background-color: blue;
}

hr.split-line {
    border: 10px solid var(--green);
    border-radius: 5px;
}

h1 {
    color : var(--green);
}

body {
    background-color: var(--misty);
}

